/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}
